body, html{
    background-color: #f2f5f9;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
}

.comments .comments-content .comment-content {
    margin-bottom: 15px;
}

#pulsa img{
width: 100%;
}
#pulsa{
margin-top: 8px;
}


.comments-content .inline-thread {
    padding: .5em 1em .5em 2em!important;
    border-left: 2px dashed #ccc;
    margin-left: 13px!important;
}

.donasi .penyelenggara-icon {
  width: 50px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  position: absolute;
}

.donasi .gambar-donasi, .donasi .penyelenggara-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



#gambar-besar, #gambar-besar:after {
    width: 100%;
    height: 100%;
}

#gambar-besar{
    transition: .5s;
    background-repeat: no-repeat;
}

#gambar-besar{
    background-position: center;
    background-size: cover;
}

.navbar{
    z-index: 10000;
    position: fixed;
    width: 100%;
    padding: 0;
    background-color: goldenrod;
    display: inline-flex;
    top: 0px;
    right: 0px;
    left: 0px;
    background: #1d90cc;
    background: linear-gradient(to right,#1d90cc,#29cad2);
  
}

.row{
    display:table;
    clear:both;
    width:100%;
}

.judul-sidebar span:after {
    content: "";
    position: absolute;
}

.judul-sidebar span:after {
    content: "";
    position: absolute;
}

.judul-sidebar span:after {
    top: 37px;
    right: 0;
    width: 100%;
    height: 15px;
    background-color: #7dd6d6;
}

.judul-sidebar:before {
    z-index: 100;
    right: 0;
    height: 10px;
    border-left: 15px solid transparent;
}

.judul-sidebar:after, .judul-sidebar:before {
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    content: "";
    position: absolute;
    top: 42px;
    width: 50%;
    border-bottom: 10px #fff solid;
}

#preview-konten {
                    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    padding: 20px 150px;
    z-index: 800;
    transform: translateY(-350px);
    position: fixed;
    background-color: #fff;
    width: 100%;

    transition: .1s;
}


#artikel-populer .item-title a:hover {

    color: #1d90cc;
}

#artikel-populer .item-title a {
        font-size: 14px;
    text-decoration: none;
    color: #4c565f;
    font-weight: 700;
}

#artikel-populer ul {
    padding: 0;
}

#artikel-populer li {
    list-style: none;
    margin-bottom: 10px;
    padding: 0!important;
}

#artikel-populer .item-snippet {
    display: none;
}

#artikel-populer .item-thumbnail {
    float: left;
    margin-right: 10px;
}

#artikel-populer .item-thumbnail img {
    border-radius: 10px;
}

#artikel-populer li {
    list-style: none;
    margin-bottom: 10px;
    padding: 0!important;
}

.isi-sidebar {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    padding: 25px 10px 10px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.judul-sidebar span:after {
    top: 37px;
    right: 0;
    width: 100%;
    height: 15px;
    background-color: #7dd6d6;
}

.judul-sidebar:after {
    left: 0;
    box-sizing: border-box;
    border-right: 15px solid transparent;
}

.judul-sidebar:before {
    z-index: 100;
    right: 0;
    height: 10px;
    border-left: 15px solid transparent;
}

.judul-sidebar p {
    font-weight: 700;
    margin: 0;
}

.judul-sidebar:after, .judul-sidebar:before {
    content: "";
    position: absolute;
    top: 42px;
    width: 50%;
    border-bottom: 10px #fff solid;
}

.judul-sidebar {
    position: relative;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    padding: 5px;
    background-color: #7dd6d6;
}

.sidebar {
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.4);
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    border-radius: 10px;
    margin-top: 30px;
}

.navbar-nav::-webkit-scrollbar {
    display: none;
}

#baca-post {
    color: #000;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.75em;
}


@media (max-width: 1300px){
    #konten-container{
        width: 100%!important;
        border-radius: 0px!important;
    }
    
    #iklan-atas{
        width: 96%!important;
    }

    
}

@media (max-width: 750px){
    .deskripsi .date-post{
        display: none;
    }
    
    .artikel h1{
         font-size:15px!important;
    }
    
    .deskripsi{
         
          width:calc(100% - 110px)!important;
    }
    
    .thumbnail-artikel {
        height:80px!important;
        width:100px!important;
    }
    
    .deskripsi .deskripsi-artikel{
        display: none;
    }
    .deskripsi .post-footer{
        display: none;
    }
    
}
#banner-besar:hover #gambar-besar, .banner-kecil:hover .gambar-kecil {
    transform: scale(1.05);
}
.preview-artikel:hover .preview-gambar:after {
    opacity: .3;
}

@media (max-width: 1045px){
    #sidebar {
    margin-top: 80px!important;
}
    
    #baca-post {

    font-size: 15px!important;

}
    
    #baca-post h1 {
        font-size: 23px!important;
    }
    .donasi .gambar-donasi{height:240px!important;}
    iframe{width:100%}
    .medsos {
    transform: scale(0.8);
}

  .medsos:hover {
    transform: scale(1)!important;
}

    #baca-post img {
    width: 100%!important;
    height: auto!important;
}

#daftar-artikel{
    padding:0!important;
}
#preview-konten{
      display: none!important;
}

#sidebar {
    height: auto!important;
    border:none!important;
}

#artikel-lain {
    display: none!important;
}

#baca-post a {
    margin: 0!important;
}

.row{
    display:block;
}
    
      #konten-container{
         padding: 10px 10px 10px 10px!important;
    }
    .icon-close{
        display: block!important;
    }
     #sidebar{
         padding: 0!important;
    }
     
    #cari input{
        height: 40px!important;
        width: 100%!important;
        position: absolute!important;
        left: 60px!important;
    
    }
    #cari button{
        display: none;
    }
    #cari{
    
    transform: translateY(-31px)!important;
    background-color: transparent!important;
    z-index: 10001!important;
    }
    #iklan-atas{
      margin-top: 80px!important;
    }
    
    #banner-artikel{
        display: none;
    }
    
      #daftar-artikel{
        width: 100%!important;
        float: none!important;
    }
    
    #sidebar{
         width: 100%!important;
        float: none!important;
    }
    
    .logo-link img{
         height: 25px!important;
    
    }
    
    .icon-search{
        width: 43px!important;
    }
    
 .navbar-nav {
    width: 100%!important;
    background-color: #65b7d4;
    position: absolute!important;
    left: 0;
    top: 40px;
    -ms-overflow-style: none;
    display: inline-flex;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}
    .navbar-nav li a{
        padding:5px 10px 5px 10px!important;
  
    }
    
.icon-search:before {

height: 30px!important;
    width: 30px!important;
    top: 6px!important;
    background-position: -29px 0px!important;
    background-size: 122px!important;
}

    
}

.logo-link img{
    transition: .3s!important;
}


.icon:before{
    content: "";
    background-repeat: no-repeat;
    background-image: url(https://cdn.jsdelivr.net/gh/prayogo17/webaikv2/icon.png);
}

.icon-search{
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 60px;
    text-align: center;
    top: 0px;
    right: 0px;
}

.icon-search:hover{
     background-color:   #4d9ec7;
}


.icon-search:before{
    margin: auto;
    position: absolute;
    top: 10px;
    right: 7px;
    height: 40px;
    width: 40px;
    background-position: -40px 0px;
    background-size: 169px;
}

.gambar-kecil {
    transition: .5s;
    background-repeat: no-repeat;
}

.gambar-kecil{
    background-position: center;
    background-size: cover;
}

.gambar-kecil {
    width: 100%;
    height: 100%;
}

#daftar-artikel-samping {
    padding: 0;
}

.preview-artikel h2 {
    position: absolute;
    bottom: 10px;
    padding: 0;
    margin: 0;
        font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.preview-gambar:after {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.preview-gambar:after {
    position: absolute;
    background-color: #000;
    opacity: .4;
    top: 0;
    left: 0;
    content: "";
}

#daftar-artikel-samping h3:hover {
    text-decoration: none;
    color: #1d90cc;
}

#daftar-artikel-samping a {
    text-decoration: none;
}

.preview-artikel {
                        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    cursor: pointer;
    position:relative;
        background-position: center;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    width: 19.3%;
    height: 150px;
    display: inline-flex;
}

#daftar-artikel-samping li {
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
}

#daftar-artikel-samping h3 {
    margin: 0;
}

.judul-list-artikel {
    font-size: 14px;
    color: #4C565F;
    font-weight: 700;
}

.gambar-list-artikel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 77px;
    height: 72px;
    float: left;
    margin-right: 10px;
}

#banner-besar{
    position: relative;
    width: 50%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    height: 500px;
    float: left;
    overflow: hidden;
}

.banner-kecil{
    position: relative;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    width: 25%;
    height: 250px;
    float: left;
    overflow: hidden;
  
}

#banner-artikel{
  
    cursor: pointer;
    width: 100%;
    height: 500px;
    margin-top: 57px;
}

#gambar-besar:after{
    opacity: 0.3;
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
}

.gambar-kecil:after{
    opacity: 0.3;
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
}

#iklan-atas{
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    margin-top: 10px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}


.komen-label a{
    color: #26bfd1;
    font-weight:bold;
}

.deskripsi h1:hover {
    color: #1d90cc;
}

.artikel:hover{
    background-color: #e9e9e9;
}

#konten-container{
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    border-radius: 10px;
   -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.05);
    box-shadow: 0 6px 12px rgba(0,0,0,.05);
    padding: 10px 0px 10px 10px;
    width: 1250px;
    margin: auto;
    background-color: white;
    margin-top:10px;
}

#artikel-lain {
    position: sticky;
    top: 65px;
}

.date-post {
    margin: 0;
    font-weight: 700;
}
.deskripsi p {
    text-align: justify;
    color:#4c565f;
}

.deskripsi {
    float: right;
    width: calc(100% - 320px);
    padding: 0 0 0 10px;
}

.artikel h1 {
    font-weight: 700;
}

.deskripsi h1 {
    margin-top: 0;
    color:#000000;
}
.deskripsi a {
    text-decoration: none;
}
.comment-actions .item-control a{
    background-color:#f85959;
} 

.continue .comment-reply{
    padding: 6px 8px!important;
    background-color: #28c7d2;
    display: inline-block!important;
    border-radius: 3px;
    color: #fff!important;
    
}

.comment-actions .item-control a:hover{
    background-color:#f45252;
} 

#comments a{ 
    text-decoration: none!important;
    color: #4c565f; }

.comment-actions a:hover{background-color:#4dacd0}
.comment-actions a{
padding: 6px 8px!important;
    border-radius: 3px;
    color: #fff!important;
    font-weight: 700;
    
}
    
.comment-actions a{background-color:#28c7d2;margin-right:10px;}
#comments{padding:10px}

.CSS_LIGHTBOX{z-index:11000!important;}

.artikel h1 {
    font-size: 20px;
    }
@media (min-width: 1031px){

    
    .deskripsi-artikel {
    display: block;
}
}

#daftar-artikel{
    width: 74%;
    float: left;
      padding: 10px 25px 10px 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
}
#banner-besar h3 {
    font-size: 30px!important;
    padding: 30px 20px!important;
}
.artikel {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}



.thumbnail-artikel {
    background-position: center;
    background-size: cover;
        width: 300px;
    height: 180px;
    float: left;
    border-radius: 10px;
}

#sidebar{
    padding: 0px 10px 10px 10px;
    width: 26%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;   
     border-left: 1px solid #dedede;
    float: left;
 
}

#baca-post h1 {
        font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
    line-height: 1.1;
}

#banner-artikel h3{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: white;
    padding: 10px;
    margin: 0;
    bottom: 0px;
    position: absolute;
    left: 0;
}



.logo-link{
    margin-top: 2px;
    margin-right: 20px;
    padding: 5px;
}

#footer {
    display: block;
    font-family: Museo,sans-serif!important;
    margin-top: 10px;
    padding: 30px 10px 10px;
    background-color: #2d2d2d;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

#gambar-footer {
    margin-bottom: 8px;
}
#footer a {
    color: #e8e7e7;
    text-decoration: none;
}

#deskripsi-footer {
    margin: auto;
    text-align: center;
    display: block;
}

#menu-footer {
    margin-bottom: 20px;
}

#cari{
    display:none;
    z-index: 999;
    transition: 0.1s;
    top: 0px;
    right: 0px;
    transform: translateY(-180px);
    position: fixed;
    background-color: #81a9ea;
    padding: 30px;
    width: 100%;
}
#cari button{
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 18px;

    margin: 0;
}

#formulir-cari{
    margin: auto;
    display: block;
    text-align: center
}

#cari input{
    margin: 0;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
}

#penutup{
    z-index: 998;
    display: none;
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.navbar-nav{
    
    padding: 0;
    margin: 0;
    display: inline-flex;
    
}

#credit-footer {
    bottom: 10px;
    left: 50%;
    text-align: center;
}

.medsos{
    display: inline-block;
    margin-bottom: 10px
}

.medsos .icon-twitter{
    position: relative;
    border-radius: 50%;
    content: "";
    background-color: #55acee;
 
     width: 45px;
    height: 45px;
}




.medsos .icon-facebook{
    border-radius: 50%;
    content: "";
    position: relative;
    background-color: #3b5998;
      width: 45px;
    height: 45px;
}

.medsos .icon-instagram{
    position: relative;
    border-radius: 50%;
    content: "";
    background-color: #d21ff3;
    width: 45px;
    height: 45px;
}

.medsos{
    margin-right: 10px;
    transition: 0.1s;
}

.medsos:hover{
    transform: scale(1.2);

}

.medsos:last-child{
    margin-right: 0px;
}

.icon-left:before{
    width: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 126px;
    background-position: -91px 0px;

}

.icon-left{
    position: relative;
    border-radius: 50%;
    content: "";
    margin: 5px;
    background-color: #fff;
     width: 45px;
     -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    height: 45px;
}



.icon-home:before{
  width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 126px;
    background-position: 1px 1px;

}

.icon-home{
    position: relative;
    border-radius: 50%;
    content: "";
    margin:auto;
      margin: 5px auto 5px auto;
    background-color: #fff;
     width: 45px;
    height: 45px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}


.icon-right:before{
    width: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 126px;
    background-position: -108px 0px;

}

.icon-right{
    position: relative;
    border-radius: 50%;
    content: "";
     margin: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
     width: 45px;
    height: 45px;
}


.medsos .icon-youtube{
    position: relative;
    border-radius: 50%;
    content: "";
    background-color: #dd4b39;
     width: 45px;
    height: 45px;
}

.medsos .icon-youtube:before{
    width: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 129px;
    background-position: -56px -32px;
}

.medsos .icon-facebook:before{
    width: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 120px;
    background-position: -3px -27px;

}

.medsos .icon-instagram:before{
    width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 120px;
    background-position: -22px -28px;

}

.medsos .icon-twitter:before{
     width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    position: absolute;
    background-size: 113px;
    background-position: -71px -26px;

}

.icon-close:hover{
    background-color:   #4d9ec7;
}

.icon-close{
    display: none;
     cursor: pointer;
     position: absolute;
     right: 0px;
     top: 30px;
     width: 40px;
     height: 39px;
 
 
}

 .icon-close:before{
 width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    right: 30px;
    position: absolute;
    background-size: 114px;
    background-position: -54px 2px;
    z-index: 10010;

}

.navbar-nav li a:hover{
  background-color:   #4d9ec7;
}


.navbar-nav li a{
    padding: 20px;
    color: white;
    font-size: 16px;
    font-family: Museo,sans-serif!important;
    font-weight: bold;
    text-decoration: none;
}
.navbar-nav li{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    text-align: center;
}

.deskripsi-donasi h4{
        font-size: 20px!important;
        text-align:left!important;
        
}

.donasi .gambar-donasi{
    height:450px;
    width:100%;
}

.donasi h4 {
    text-align:center;
    margin: 0 0 10px;
    font-size: 25px;

}

.donasi .deskripsi-donasi {
        margin-top: 20px;
    padding: 0;
}

.tebal {
    font-weight: 700;
}

.wrap-donasi {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
    width: 100%;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}


.btn-contribute {
  
    font-size: 1.1em;
    font-weight: 700;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    text-transform: uppercase;
}

.btn--alt, .btn-don {
    display: inline-block;
    border: 0;
    font-family: Open Sans, sans-serif;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    -webkit-tap-highlight-color: transparent;
}

.btn--block {
    width: 100%;
}

.btn--large {
    padding: .75em 2.25em;
}

.btn--pink, .btn--pink--no-js, .btn--pink__transparent {
    background: #da336b;
    color: #fff;
}

.donasi .gambar-donasi, .donasi .penyelenggara-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.penyelenggar-donasi{
    display:inline;
}


 #read-more{
 text-align: left;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.05);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
    display: none;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 30px;
    background-color: #f2f5f9;
    position: relative;
        }
        
        #read-more:before{
            content: "Baca Juga";
           font-family: 'Open Sans',sans-serif;
            padding: 5px;
            background-color: #1D90CC;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            position: absolute;
            top: -15px;
            left: 15px;
            
        }
        #read-more ul li{
            padding-bottom: 4px;
            border-bottom: 2px dashed #ffffff;
            font-size: 15px;
            list-style: none;
            margin-bottom: 10px;
            
        }
        
        #read-more ul li a{
           color: #1D90CC;
            font-family: 'Roboto Slab',serif;
            text-decoration: none;
        }
        
        #read-more ul li a:hover{
            text-decoration: underline;
        }
        
         #read-more ul li:first-child{
             margin-top: 18px;
        }
        #read-more ul{
            padding: 0;
            margin: 0;
        }
   .comments .comment-block{
        position: relative;
    margin-left: 50px!important;
    padding: 12px;
    background: #f2f5f9;
    box-shadow: 0 1px 0 rgba(0,0,0,.05), 0 3px 3px rgba(0,0,0,.05);
}

.code-box{
    background: rgb(245, 245, 245);
    border: 1px dashed rgb(177, 177, 177);
    box-sizing: inherit;
    color: #212529;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 14.4px;
    margin-bottom: 1.5em;
    overflow: auto;
    padding: 1em;
}
